body{
    background-color:  rgb(250, 250, 250);
    font-style: Arial,sans-serif;
}

section h2{
    font-size: 28px;
    color:rgb(24, 0, 0);
}

/* Section navigation */
nav{
     overflow: auto;
    
    }

nav ul li{
    list-style-type: none;
    margin: 5px 5px;
    float: left;
    color: rgb(102, 23, 230);   
}

nav ul li:first-child{
    margin-left: none;
}

nav ul li a{
    font-size: 22px;
    text-decoration: none;

}

nav ul li a:hover{
    color:rgb(185, 18, 18); 
}

/* nav ul li a:active{
    color:red;  
} */

/* nav ul li a:visited{
    color:black;  
} */

/* Section about me */
section#about_me p{
    font-size: 24px;
}

/* Section skills */
section#skills ul li{
    font-size: 22px;
}

/* Section expirience */
section#expirience p{
    font-size: 22px;
    margin-left: 20px;
}

/* Section contact */
section#contact ul li{
    font-size: 22px;
    list-style-type: none;
    margin: 10px 0;
}

footer div{
    text-align: center;
}